.ting-search-spinner-placeholder-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;               
  left: 0;               
  width: 100%;   
  height: 100%;   
  opacity: 0.25;
  margin-left: auto;
  margin-right: auto;
  background: black;
}
.overlay-spinner{
  margin-left: auto;
  margin-right: auto;

}
.close-ting-search-spinner{
  position: absolute;
  color:black;
  z-index: 1001;
}
